In [11]:
import pandas as pd

# changes matplotlib to work with pandas dataframes a bit better
pd.plotting.register_matplotlib_converters() 

import matplotlib.pyplot as plt
# make matplotlib display graphs inline of the jupyter notebook
%matplotlib inline

import seaborn as sns

import numpy as np

In [12]:
data = pd.read_csv("simplified-arm-study-data.csv")
df = pd.DataFrame(data)

data.head()

          Title   Average
0  1_Competency  3.916667
1  1_Discomfort  4.958333
2      1_Safety  2.916667
3  2_Competency  5.541667
4  2_Discomfort  5.291667